{% extends 'partials/base.html.twig' %}

{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#{% endblock %}#}

{% block bottom %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for module in page.collection()%}
        <div id="{{ module.menu|hyphenize }}"></div>
        {{ module.content|raw }}
    {% endfor %}
{#    {% for module in page.collection() if module.template == 'modular/hero' %}#}
{#        <div id="{{ module.menu|hyphenize }}"></div>#}
{#        {{ module.content|raw }}#}
{#    {% endfor %}#}
{#    {% for module in page.collection() if module.template != 'modular/hero' %}#}
{#        <div id="{{ module.menu|hyphenize }}"></div>#}
{#        {{ module.content|raw }}#}
{#    {% endfor %}#}
{% endblock %}

